<footer style="background: linear-gradient(to top, #99f048,  #e89beb); margin-top:2%">
    <style>
        .footer {
            display: flex;
            margin-left: 40%;
            padding-top: 1%;
            color: firebrick;
        }

        .nm {
            margin-left: 2%;
        }
    </style>
    <div class="footer">
        <div class="md">
            <p><b>Made with love by <i class="far fa-kiss-wink-heart"></i> </b></p>
        </div>
        <div class="nm">
            <p><b>Job Karani</b></p>
        </div>
    </div>
</footer>