{% extends 'all-temps/base.html'%} {% load static %} {% load bootstrap5 %}

{% block content %}
<br><br><br> <br>
<div class="container" style="align-items:center;">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <div class="input">
                    <div class="text-center">
                        <div class="title">Create a profile to start using Awards</div>
                        <hr />
                        <div class="guide">
                            Please add an image for your profile picture, a bio, your location and a link to your
                            portfolio.
                        </div>
                    </div>

                    <form action="{%url 'create_profile'%}" method="post" enctype="multipart/form-data">
                        {%csrf_token%} {% bootstrap_form form%}
                        <input type="submit" class="btn btn-dark" value="Create Profile" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}