{%extends 'all-temps/base.html'%}

{% block content %}
<br><br><br><br>
{{block.super}}

<div class="jumbotron">
    <img src="https://cdn.pixabay.com/photo/2017/08/12/09/17/industry-2633878__340.jpg" alt="" style="background-repeat: no-repeat;
    background-size: cover; 
    width:100%;">
</div>

<!-- <style>
    #blogs {
        margin: 50%;
        width: 300px;
        height: 200px;
        filter: grayscale(100%);
    }

    #blogs.hover {
        filter: grayscale(0%);
    }
</style> -->
<section class="blog-section">
    <div class="container mt-5" style="gap: 15px;">

        <div class="row mt-4" id="">
            {% for pics in images %}
            <div class="col-md-12 col-md-6 col-lg-4" style="gap: 15px;">
                <div class="card mb-4" id="blogs"
                    style="background-color: #4E9F3D;filter: drop-shadow(2px 4px 8px #585858); ">
                    <a href="{% url 'project' pics.id %}">
                        <img src="{{ pics.image.url }}" class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body ">
                        <p class="fade-item mb-2">Name: {{ pics.name }}</p>

                        <div class="d-flex justify-content-between location-date">
                            <div>
                                <p class="text-capitalise">Located at: {{ pics.location }}</p>
                            </div>
                            <div>
                                <p>Created on: {{ pics.created_on|date}}</p>
                                <p>Bio: {{ pics.user.bio}}</p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="profiles">


            </div>
        </div>
    </div>
</section>
{% endblock %}