{%extends 'all-temps/base.html'%}

{% block content %}
<br><br><br><br>
{{block.super}}


<div class="jumbotron">
    <img src="https://cdn.pixabay.com/photo/2017/08/12/09/17/industry-2633878__340.jpg" alt="" style="background-repeat: no-repeat;
    background-size: cover; 
    width:100%;">
    <h3 class="img"><i>The awards of design, creativity and innovation on the internet</i></h3>
</div>


<section class="blog-section">
    <div class="container mt-5" style="gap: 15px;">

        <div class="row mt-4">
            {% for posts in images %}
            <div class="col-md-12 col-md-6 col-lg-4" style="gap: 15px;">
                <div class="card mb-4" id="blogs"
                    style="background-color: #4E9F3D;filter: drop-shadow(2px 4px 8px #585858); ">
                    <a href="{% url 'project' posts.id %}">
                        <img src="{{ posts.image.url }}" class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body ">
                        <div>
                            <p class="fade-item mb-2">User: {{ posts.user.username }}</p>
                        </div>
                        <div>
                            <p class="fade-item mb-2">Title: {{ posts.name }}</p>
                        </div>
                        <div>
                            <p class="text-capitalise">Located at: {{ posts.location }}</p>
                        </div>
                        <div>
                            <p>Created on: {{ posts.created_on|date}}</p>
                        </div>
                        <div>
                            <a href="{% url 'project' posts.url %}">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}