{% extends "all-temps/base.html" %}
{% block content %}
<br><br><br><br>
{% if project.image %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p> {% if profile.profile_photo %}
                <img src="{{ profile.profile_photo }}" alt="author">
                {% else %}
                <img src="https://cdn.icon-icons.com/icons2/2643/PNG/512/male_boy_person_people_avatar_icon_159358.png"
                    alt="{{ user.username }}">
                {% endif %}
            <h3 style="text-align: center;">User: {{ user.username }}</h3>
            </p>
        </div>
        <div class="card"
            style="background-color: #4E9F3D;width:40%; height:30%;margin-top:10%; padding-left:5%;filter: drop-shadow(2px 4px 8px #585858);">
            <div class="col-md-8">
                <p>About: {{ project.about|safe }}</p>
                <p>Category: {{ project.cat|safe }}</p>
                <p>Location: {{ project.location|safe }}</p>
                <p>Posted on: {{ project.created_on|date }}</p>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="single-content">
                    <h2 class="display-6 mt-4 headings">
                        Title: {{ project.name }}
                    </h2>

                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <section class="single-top-header"
        style="height: 70vh;  background-repeat: no-repeat;background-size: cover;background-position: center; background-image: url({{project.image.url}})">

        {% else %}
        <section class="single-top-header">
            {% endif %}

        </section>

    </section>
    <div class="row rating">
        <div class="card"
            style="background-color: #4E9F3D;width:40%; height:30%;margin-top:5%; padding-left:5%;filter: drop-shadow(2px 4px 8px #585858);">
            <div class="col-md-6">
                <form action="{% url 'rate' project.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="Design">Design</label>
                        <input type="number" class="form-control" name="design" min="0" max="10" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="Content">Content</label>
                        <input type="number" class="form-control" name="content" min="0" max="10" value="0">
                    </div>
                    <div class="mb-3">
                        <label for="Usability">Usability</label>
                        <input type="number" class="form-control" name="usability" min="0" max="10" value="0">
                    </div>
                    <button class="btn btn-warning btn-sm" type="submit">Rate</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center" style="margin-top:5%;">
                <b>Project Ratings</b>
            </h2>
            <div class="card"
                style="background-color: #4E9F3D;  padding-left:5%;filter: drop-shadow(2px 4px 8px #585858);">
                {% for rate in rating %}
                <div class="row text-center">
                    <div class="col-md-3">
                        <p>Voter: {{rate.user.username}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Design: {{rate.design_value}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Content: {{rate.content_value}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>Usability:{{rate.usability_value}}</p>
                    </div>
                </div>
                {% empty %}
                <p class="alert alert-danger" role="alert">No ratings yet!</p>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% endblock %}