{% extends 'all-temps/base.html' %}
{% load bootstrap5 %}
{% block content %}
<!-- content -->
<div class="container">
    <div class=" mt-4">
        <div class="form">
            <h4 class="text-center">Update profile</h4>
            <form action="" method="POST" enctype="multipart/form-data">
                {% load crispy_forms_tags %}
                {{ form | crispy }}
                {% csrf_token %}
                <div class="form-group">
                    <input type="submit" class="btn btn-outline-info btn-sm" value="Update" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}