{% extends "all-temps/base.html" %}
{% load bootstrap5 %}
{% block content %}
<br><br> <br><br>
<style>
    .project {
        padding: 1%;
        border-radius: 10%;
        background: linear-gradient(to top left, #f5a0f1, #99f048);
        filter: drop-shadow(2px 4px 8px #585858);
    }

    .project:hover {
        filter: drop-shadow(2px 4px 8px #fff);
    }
</style>
<div class="container project">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="regis">
                <div class="form-data">
                    <form action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2 class="intro">Add a project</h2>
                        {% bootstrap_form form%}
                        <button class="btn btn-outline-dark bg-dark text-white rounded-pill"
                            type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}