{%extends "registration/base.html"%} {% load bootstrap5 %} {% block content %}
<div class="container" style="margin-left: 5%;margin-top: 5%;">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Register with your Email</h3>
        </div>
        <div class="card" style="padding: 5%;">
          <div class="panel-body">
            <form action="/accounts/register/" method="post">
              {% csrf_token %} {% bootstrap_form form %}
              <div class="form-group">
                <input type="submit" class="btn btn-success btn-sm" value="Register" />
              </div>

              <input type="hidden" name="next" value="{{next}}" />
            </form>
          </div>
        </div>
        <div class="card" style="margin-top: 1rem;padding-left: 5%;">
          <p>Already have an account?<a href="/accounts/login/">Login</a></p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}